table {
    border-collapse: collapse;
	width: 100%;
	
}


table, td, th {
    border: 1px solid black;
}

h1 {
	background-color: green;
	text-align: center ;
	color: white ;
	margin-top: 0px;
	padding: 20px;
	
}
div {
	padding: 15px ;
	align: center ;
}

h3 {
	text-align: center;
}

td {
	padding: 10px;
}

#special{
	text-align: center ;
}
table-cell {
	padding: 20px;
	
}
#thDay {
	width: 7%
}

#thDay1
 {
	width: 7%
}

#thDay2 {
	width: 7%
}

#thDay3 {
	width: 25%
}

